
@media screen(max-width: 700px){

#botão-especial {

   margin-left: 2%;
}

#contato-icone {

   font-size: 84%;
}

.contato-texto {

   padding: 2% 0%;
}

.contato-paragrafo {

   font-size: 24px;
   padding-left: 50%;
   color: white;
   font-weight: bold;
}

.corpo {

    margin: 0% 0% 0% 2%;
}

#dark-mode {
   
    margin: 1% 45% 1% 45%;
    font-size: 55px;
}

.destaques:click {
   
    color: lightblue;
    cursor: pointer;
}

.habilidades-titulo {

    font-size: 60px;
}

.projetos-titulo {

    font-size: 60px;
 } 

.sobre-titulo {

    font-size: 60px;
 } 

.contato-titulo {

    font-size: 60px;
}

#habilidades {
   
    height: 90%;
    width: 90%;
}

.habilidades-itens {
   
    font-size: 27px;
    align-items: center;
    justify-content: center;
}

.imagem-sobre {
      
   display: block;
   width: 220px;
   height: 215px;
   padding: 0% 1.6% 0% 0%;
}

#sobre-paragrafo-principal-mobile {

    display: block;
}

.sobre-paragrafo-mobile {

    padding: 0% 3%;
}

.sobre-paragrafo {

    padding: 0% 3% 0% 0%;
}

.imagem-sobre:click {

    transition: 0.6s;
    transform: scale(1.1);
}

.portfólio-background {

   width: 97.5%;
   height: 8,9%; 
}

.portfólio-background-navegator {
    
   font-size: 3%;
}

.projetos-bloco-titulo {

    padding-left: 7%;
}

.projetos-bloco-botão {

    height: 35px;
    width: 210px;
    border: 1px thin green;
}

.projetos-bloco-botão-link {

    padding: 1% 0% 0% 19%;
    color: lightgreen;
}

.projetos-bloco-imagem {
   
    width: 100px;
    height: 120px;
    padding: 1px 15px 8px 12px;
    display: inline-flex;
    float: left;
}

.projetos-bloco-imagem:click {

    transition: 0.5s;
    transform: scale(1.1);
}

#projetos-bloco-paragrafo {

    margin: 3% 2% 4% 1%;
}

.fólio1, .fólio2 {

    font-size: 28px;
}
 
.fólio1 {
 
    margin: 2% 0% 2% 1%;
    padding: 2% 0% 2% 1%;
}

.fólio2 {
    
    color: lightgreen;
} 

.efeito:click {
   
    color: green;
}

.habilidades-itens-barra {
   
    width: 80%;
}

.habilidades-itens:click {

    font-size: 120%;
    transition: 0.5s;
    padding-rigth: 1%;
}

p {

    font-size: 30px;
}

span {

    font-size: 35px;
}}