
@media (min-width: 700px){

#body-darkMode {

    background-color: rgb(240, 250, 255);
    visibility: visible;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}

#botão-especial {

    margin-left: 50%;
}

#contato {
   
    background-image: url(ImagemDeFundo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#contato-icone-mobile {

   padding: 0% 0.4%;
   font-size: 106%;
}

.contato-texto {

    padding: 2% 0%;
}

.contato-titulo {

    padding: 0% 0% 0% 0%;
}

.contato-paragrafo {

    font-size: 90%;
    padding-left: 60%;
    color: white;
    font-weight: bold;
}

#dark-mode {
   
    margin: 1% 45% 1% 45%;
    display: inline;
    font-size: 150%;
}

.destaques {
   
    color: green;
}

.destaques:click {
   
    color: lightblue;
    cursor: pointer;
}

#habilidades, #projetos, #sobre, #contato {

    padding: 1.2% 2.3% 1.4% 2%;
}

.habilidades-titulo {

    font-size: 39px;
}

 .projetos-titulo {

    font-size: 39px;

 } 

 .sobre-titulo {

    font-size: 39px;
 } 

 .contato-titulo {

    font-size: 39px;
}

#projetos, #sobre, #contato {

    border: 2.8px solid black;
}

#habilidades {
   
    height: 90%;
    width: 90%;
}

.habilidades-itens {
   
    font-size: 27px;
    align-items: center;
    justify-content: center;
}

.imagem-sobre {
      
   display: block;
   background-position: center;
   width: 220px;
   height: 215px;
   padding: 0% 1.6% 0% 0%;
}

.imagem-sobre:click {

    transition: 0.6s;
    transform: scale(1.1);
}

.menu {
 
    position: fixed;
}

.portfólio-background {

}

.primeira-div {

    border: solid 3.4px green;

}

.portfólio-background-navegator {
    
   display: inline-flex;
   font-size: 23px;
   color: white;
   margin: 0.9% 0% 0% 4%;
   justify-content: space-around;
}

.portfólio-background-navegator-item:click {

    color: rgba(0, 0, 0, 1.0);
}

.projetos-bloco {

    border: solid;
    border-width: 3px;
}

.projetos-bloco-titulo {

    padding-left: 6.5%;
}

.projetos-bloco-botão {

    display: block;
    padding-left: 0%;
    color: rgb(108, 190, 90);
    border: 4px thin black;
}

.projetos-bloco-botão:click {

    color: blue;
    transition: 0.4s;
}

.projetos-bloco-imagem {
   
    width: 90px;
    height: 90px;
    display: inline-flex;
    padding: 1px 15px 8px 12px;
    float: left;
}

.projetos-bloco-imagem:click {

    transition: 0.5s;
    transform: scale(1.1);
}

#projetos-bloco-paragrafo {

    margin: 3% 2% 4% 1%;
}

#projetos, #sobre, #contato {

    border: 2.8px solid;
}

.primeira-div {
   
    background: url(ImagemDeFundo1.jpg);
    background-position: 40% 40%;
    background-repeat: no-repeat;
    border: solid 3.4px rgb(0, 191, 255);
}

.fólio1, .fólio2 {

    font-size: 28px;
    
}
 
.fólio1 {
 
    margin: 2% 0% 2% 1%;
    padding: 2% 0% 2% 1%;
}

.fólio2 {
    
    color: lightgreen;
} 


.efeito:click {
   
    color: green;
}


.habilidades-itens-barra {
   
    display: block; 
    width: 80%;
    padding-rigth: 1%;
}

.habilidades-itens:click {

    font-size: 120%;
    transition: 0.5s;
}

p {

    font-size: 26px;
}

span {

    font-size: 29px;
}

span:click {

    color: green;
}

}