
 .efeito {

   font-weight: bold;
   font-size: 25px;
}

 .efeito:hover {

   color: green;
   cursor: pointer;
}

 .espaço {

   background-image: url();
}

 .fólio1, .fólio2 {

 	font-size: 26px;
}
 
 .fólio1 {

   margin-bottom: 20%;
}

 .fólio2 {
	
	color: lightgreen;
} 

 .efeito {

   font-size: 29px;
}

 .efeito:hover {
   
   transition: 0.25s;
   cursor: pointer;
   color: green;
}

 p {
   
   font-size: 27px;
}

.habilidades-item {

  padding: 0% 0% 3% 2%;
}