
@media (min-width: 788px){

    #sobre {

        padding: 0% 2% 3% 3%;
    }

#botão-especial {

    margin-left: 74%;
}

.projetos-imagem {
   
    width: 80px;
    height: 80px;
}

.imagem-sobre {

    width: 210px;
    height: 200px;
    padding: 0% 1.6% 2% 0%;
}}
