 
 a {
    
    text-decoration: none;
}

 .contato-paragrafo {

    padding: 2% 0% 2% 80%;
    color: white;
    font-weight: bold;
}

 .projetos-bloco-item {

    padding: 0% 0% 2% 1.5%;
}

 .projetos-bloco {

    border: solid;
    border-width: 3px;
}

 #body-darkMode {

    background-color: rgb(240, 250, 255);
    visibility: visible;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}

 .contato-texto {

    padding: 2% 0%;
}

 #projetos-paragrafo {

    margin: 3% 2% 4% 1%;
}

  #habilidades, #projetos, #sobre, #contato {

    padding: 1.2% 2.3% 1.4% 2.3%;
 }
 
 .menu {
 
     position: fixed;
 }
 
 .fólio1 {
 
 	font-size: 27px;
 	margin: 5% 0% 8% 2%; 		
 	}

 .fólio2 {
	
	margin: 5% 0% 2% -1%;
	font-size: 27px;
	color: lightgreen;
}

 .portfólio-background {  
  
    background-color: green;
    position: fixed;
    padding-top: 0.7%;
    width: 100%;
    height: 4.3%;   
    }
    
 .portfólio-background-navegator-item:hover {

    color: #0786f8;
    transition: 0.5s;
 }

 .portfólio-background-navegator-item {

    color: black;
    margin: 1% 0% 1% 0%;
    font-size: 23.0px;
    padding-left: 10%;
}

.portfólio-background-navegator {
	
	display: inline-flex;
	margin-left: 10%%;	
}

 #projetos, #sobre, #contato {

    border: 2.8px solid rgb(0, 191, 255);
}

.habilidades-itens-barra {
   
    display: block; 
    width: 80%;
    padding-rigth: 1%;
}

 .habilidades-itens:hover {

    font-size: 120%;
    cursor: pointer;
    transition: 0.5s;
}

 .efeito {

    font-size: 21.5px;
}

 .efeito:hover {
   
    transition: 0.25s;
    cursor: pointer;
    color: green;
}

 #contato {
   
    background-image: url(imagemDeFundo3.jpg);
    background-repeat: no-repeat;
    color: white;
}

 .contato-titulo {

    padding: 0% 0% 0% 0%;
}

 #contato-icone, .contato-texto {
   
    font-size: 118%;
}

 #botão-especial {

    margin-left: 59%;
}

 .projetos-botão {

    margin: 0% 0% 0% 74%;
    color: rgb(108, 190, 90);
    border: 4px thin black;
}

 .projetos-botão:hover {

    color: blue;
    transition: 0.4s;
}

 #contato-icone {

    padding: 0% 0.4%;
    font-size: 127%;
}

 #contato-icone:hover {
   
    cursor: pointer;
    font-size: 150%;
    transition: 0.6s;
}

 .primeira-div {
   
    background: url(ImagemDeFundo1.jpg);
    background-position: 40% 40%;
    background-repeat: no-repeat;
    border: solid 3.6px rgb(0, 191, 255);
}

 #habilidades {
   
    height: 90%;
    width: 80%;
    font-size: 90%;
}

 .habilidades-itens {
   
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

 .destaques {
   
    color: green;
}

 .destaques:hover {
   
    color: lightblue;
    cursor: pointer;
}

 #dark-mode {
   
    margin: 1% 45% 1% 45%;
    display: inline;
    font-size: 110%;
}

 #dark-mode:hover {

    color: yellow;
    cursor: pointer;
    transition: 0.53s;
}

 .projetos-bloco-imagem {
   
    width: 90px;
    height: 90px;
    display: inline-flex;
    padding: 1px 15px 8px 12px;
    float: left;
}

 .imagem-sobre {
  	  
   display: inline-block;
   width: 220px;
   height: 215px;
   padding: 0% 1.6% 0% 0%;
   float: left;
}

 .imagem-sobre:hover {

    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

 h2 {

    font-size: 35px;
}

 span {
    
    font-weight: bold;
}


 p {
   
    font-size: 20.76px;
}
