
a {
    
   text-decoration: none;
}
 
#body-darkMode {

   background-color: rgb(240, 250, 255);
   visibility: visible;
   opacity: 1;
   transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}

#botão-especial {

   margin-left: 74%;
}

#contato {
   
   background-image: url(ImagemDeFundo2.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
}

.contato-icone, .contato-texto {
   
   font-size: 15%;
}

.contato-texto {

   padding: 2% 0%;
}

.contato-titulo {

	font-size: 38px; 
   padding: 0% 0% 0% 0%;
}

.contato-paragrafo {

   color: white;
   font-size: 25px;
   font-weight: bold;
   padding: 2% 0% 2% 40%;
}

#dark-mode {
   
   margin: 1% 45% 1% 45%;
   display: inline;
   font-size: 40px;
   cursor: pointer;
}

#dark-mode:hover {

   color: yellow;
   transition: 0.53s;
}

.destaques {
   
   color: green;
}

.destaques:hover {
   
   color: lightblue;
   cursor: pointer;
}

#habilidades, #projetos, #sobre, #contato {

   padding: 0% 3%;
}

#habilidades {
   
   height: 90%;
   width: 95%;
}

.habilidades-titulo, .projetos-titulo, .sobre-titulo, .contato-titulo, {
   
   font-size: 20px;
}

.imagem-sobre {
  	  
   display: inline-block;
   width: 220px;
   height: 215px;
   padding: 0% 1.6% 0% 0%;
   float: left;
}

.imagem-sobre:hover {

   transition: 0.5s;
   transform: scale(1.1);
   cursor: pointer;
}

.menu {
 
   position: fixed;
}

.portfólio-background {  
  
   background-color: green;
   border: solid 2.9px black;
   display: inline-flex;
   position: fixed;
   width: 98.3%;
   height: 6,9%;   
}

.portfólio-background-navegator {
	
   font-size: 19px;
   color: black;
   margin: 0.3% 0% 0% 30%;
   justify-content: space-around;
}

.portfólio-background-navegator:hover {

   color: green;
}

.portfólio-background-navegator-item {

   margin-left: 40px;
}

.projetos-bloco {

   border: solid;
   border-width: 3px;
   padding: 0% 1.8%;
}

.projetos-bloco-titulo {

   font-size: 34px;
}

.projetos-bloco-item {

   padding: 0% 0% 2% 1.5%;
}

.projetos-bloco-botão {

   margin: 0% 0% 0% 74%;
   color: rgb(108, 190, 90);
   border: 4px thin black;
}

.projetos-bloco-botão:hover {

   color: blue;
   transition: 0.4s;
}

.projetos-bloco-imagem {
   
   width: 90px;
   height: 90px;
   display: inline-flex;
   padding: 1px 15px 8px 12px;
   float: left;
}

.projetos-bloco-imagem:hover {

   transition: 0.5s;
   transform: scale(1.1);
   cursor: pointer;   
}

#projetos-bloco-paragrafo {

   margin: 3% 2% 4% 1%;

}

#projetos, #sobre, #contato {

   border: 2.8px solid rgb(0, 191, 255);
}

span {
    
   font-weight: bold;
}

span:hover {

   color: green;
   cursor: pointer;
}

.primeira-div {
   
   background: url(ImagemDeFundo1.jpg);
   background-position: 40% 40%;
   background-repeat: no-repeat;
   background-size: cover;
   border: solid 3.4px green;
}

.fólio1, .fólio2 {

 	font-size: 26px;
}
 
.fólio1 {

   margin-bottom: 20%;
}

.fólio2 {
	
	color: lightgreen;
} 

.efeito {

   font-size: 23px;
}

.efeito:click {
   
   transition: 0.25s;
   cursor: pointer;
   color: green;
}

.habilidades-item-barra {
   
   display: block; 
   width: 90%;
   padding-rigth: 1%;
}

p {
   
   display: block;
   font-size: 21.76px;
}
